
body {
    overflow-y: hidden;
    overflow-x: hidden;
    
}

#MyModal {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    border-top: 2px solid black;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

#MyModal > *{
    padding: 0.5vw;
}

#message {
    font-family: "Lucida Console", "Courier New", monospace;
    border: 0;
    width: 95%;
}

#message:focus {
    outline: 0;
    border-radius: 0px;
}

#message:focus-visible {
    border: 0px;
}

#chatBtn{
    border: 0;
    visibility: hidden;
}


header {
    position: fixed;
    top: 10;
    left: 10;
    width: 100%;
    z-index: 1000;

}

header button {
    float: right;
    margin: 0 auto;
    height: 30px;
    max-width: 1200px;
    padding: 0 0.5vw;
    background-color: transparent;
    border: none;
}

#logoutButton {
    margin-right: 1vw;
}

header button:hover {
    cursor:pointer;
}

header img {
    height: 80%;
    vertical-align: middle;
    transform: scaleX(-1);
}

[data-tooltip]:hover::after {
    display: block;
    content: attr(data-tooltip);
    background: transparent;
    font-family: "Lucida Console", "Courier New", monospace;
  }

  header h3 {
    margin: 0 auto;
    font-family: "Lucida Console", "Courier New", monospace;
  }